@use "sass:list";
@use "sass:color";

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

#nowebgpusupport {
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
  font-size: 30px;
  position: absolute;
  width: 100%;
  height: 100%;

}

.container {
  border: solid 1px red;
  background-color: #440000;
  padding: 80px;

}

.nosupportedheadline {
  font-size: 40px;
  color: red;

}

.info {
  font-size: 28px;
  color: red;
  text-align: center;

}
